Source: wasta-core-bionic
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-core-bionic

Package: wasta-core-bionic
Architecture: all
Depends: gnupg, ${shlibs:Depends}, ${misc:Depends}
Recommends: apt-xapian-index, at, debconf-utils, qt5-style-plugins, synaptic, wasta-backup, wasta-menus, wasta-offline, wasta-remastersys, wasta-resources-core
Description: Wasta-Linux 18.04 Core
 Wasta-Linux core system setup package for Ubuntu 18.04 'bionic'
 .
 This package should be installed on any machine running Wasta-Linux 18.04
